-e git+https://github.com/Runscope/healthcheck.git@9d661a916f3ab630ae21e014758aa2f21fd40097#egg=healthcheck
boto
eventlet
Flask
Flask-BasicAuth
Flask-Migrate
Flask-SQLAlchemy
gunicorn
itsdangerous
Jinja2
MarkupSafe
mock
psycopg2
pycrypto
requests
simplejson
SQLAlchemy
Werkzeug
wsgiref
